<!DOCTYPE html>
<html>
<head>
    <title>Postage Results</title>
</head>
<body>
    <h1>Your postage cost:</h1>
    <p>Your <%= type %> weighing <%= weight %> ounces will cost <%= price %> to ship first class.</p>
    
    <a href="postageForm.html">Start Over</a>
</body>
</html>